name: pr-title

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  build:
    name: Check conventional title
    runs-on: ubuntu-20.04

    steps:
      - uses: deepakputhraya/action-pr-title@master
        with:
          # Make sure we keep semantic PR titles to ensure a descriptive commit history on the main branch
          regex: '^(build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test)(\([^)]+\))?:.+$'
          min_length: 10 # ensure title is something meaningful, not just "fixing it"
          # github_token: ${{ github.token }}